.main-content form {
  width: 50%;
  margin: 10px auto;
}

.form-margin {
  margin-bottom: 140px;
}

#logout-display {
  display: none;
}

#home-footer {
  margin-top: 100px;
}

.card-position {
  width: 18rem;
  margin: 20px 0;
  height: 430px;
}

.card-position img {
  width: 100%;
  height: 250px;
}

.price-position p {
  float: right;
}
